[Unit]
SourcePath=/usr/bin/tide_lts/tide_lts.sh

[Service]
ExecStart=/usr/bin/tide_lts/tide_lts.sh start
ExecStop=/usr/bin/tide_lts/tide_lts.sh stop

[Install]
WantedBy=multi-user.target